# docker compose up -d (l'API à lancer à part : cd api && docker-compose up -d)

services:
  wordpress:
    image: wordpress:latest
    container_name: wordpress_cms_connector
    ports:
      - "8000:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: example
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - wordpress_data:/var/www/html
      - type: bind
        source: .
        target: /var/www/html/wp-content/plugins/cms-headless-connector
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mariadb:10.11
    container_name: wordpress_cms_db
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: example
      MARIADB_DATABASE: wordpress
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 3s
      timeout: 5s
      retries: 20
      start_period: 30s

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: wordpress_cms_phpmyadmin
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: example
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  wordpress_data:
  db_data:
